body {
  font-family: Avenir;
  margin: 0px;
  background-color: #d7d1b9;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://wallpapercave.com/wp/vFQ0LIf.jpg');
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.main-logo {
  display: flex;
  justify-content: center;
  color: white;
}
.login-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: rgba(0, 0, 0, 0.92);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  background-color: rgb(46, 41, 41);
  width: 100%;
  top: 0;
  margin-bottom: 63px; /* this is a hack and should be on the content div itself */
}
.links.active {
  background-color: red;
}

#all_products {
  background-color: #d7d1b9;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 800px; */
}
.product {
  width: 35%;
  margin: 20px;
}
.product-view {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 0 auto;
}
.shop-title {
  text-align: -webkit-center;
  color: black;
  margin: 0;
  padding: 10px;
}
.nav-two {
  display: flex;
}
.main-links {
  color: white;
}
.product-title {
  color: white;
  margin: 15px;
  line-height: 1.17648;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  background: #0071e3;
}
.product-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: #d7d1b9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.id-wrapper {
  height: 170px;
  /* background-color: #0071e3; */
  display: flex;
  justify-content: center;
  background-color: #080807;
}
.id-container {
  font-size: 40px;
  margin: 53px;
  color: white;
}

.signup-page-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #d7d1b9;
}

.signup-page-wrapper form div {
  justify-content: center;
  align-items: center;
  background-color: #d7d1b9;
}

label {
  margin: 15px;
}
small {
  color: white;
  margin: 10px;
  line-height: 1.17648;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 18px;
  background: #0071e3;
}
.cart-container {
  display: flex;
  flex-direction: column;
}
.cart-pics {
  height: 150px;
}

#single_product {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 0 auto;
}

#single_product #product_image {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#single_product #product_image img {
  border-radius: 25px;
}

#single_product #product_info {
  align-items: center;
  text-align: center;
  background-color: rgb(46, 41, 41);
  color: white;
  font-size: 17px;
  line-height: 1.77059;
  font-weight: 400;
}
#single_product #product_info p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

button {
  color: white;
  margin: 15px;
  line-height: 1.17648;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  background: #0071e3;
  cursor: pointer;
}

input {
  width: 45%;
  background-color: white;
  margin: 15px;
  line-height: 1.17648;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
}
#emailInput,
#phoneInput,
#addressInput,
#firstNameInput,
#lastNameInput {
  width: 10%;
  background-color: white;
  margin: 15px;
  line-height: 1.17648;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
}
.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  justify-content: space-evenly;
  margin: 3px auto;
  align-items: center;
}
.form-view {
  background-color: #d7d1b9;
  height: 800px;
}
#selectQuantity,
select {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  color: #111;
  height: 1.41176rem;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  height: 30px;
}
.cart-remove {
  font-size: 13px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
.cart-main-title,
.cart-second-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
#checkout-btn {
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 0.5;
  width: 300px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
}
.cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  color: #111;
  width: 90%;
}
.cart-second-title {
  font-size: 18px;
}
#btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-pic {
  max-width: 1200px;
  box-shadow: 0 5px 10px black;
  justify-content: space-evenly;
  margin: 3px auto;
}
.account-items-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
  background-color: azure;
}
